h1 {
    color: blue;
}

h2 {
    color: rgb(234, 239, 88);
}

h3 {
    color: hsl(120, 100%, 25%);
}

h4 {
    color: #ee1440;
}

.headings-container {
    background-color: aqua;
    text-align: center;
    border: 5px solid aquamarine;
}